{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["assets/js/catalogue.js", "assets/js/module-faqs.js"],
      "options": { "quoteProps": "preserve" }
    },
    {
      "files": "assets/js/command-centre.js",
      "options": { "singleQuote": true }
    }
  ]
}
